<% if @posts.empty? %>
  <div class="card text-center mb-3">
    <div class="card-body">
      <p class="card-text">まだ投稿はありません。</p>
    </div>
  </div>
<% else %>
  <% @posts.each do |post| %>
    <div class="card mb-3"> <%# 各投稿を個別のカードで囲む %>
      <%= link_to post_path(post), class: "text-decoration-none text-dark" do %> <%# カード全体をリンクに、下線と文字色を調整 %>
        <div class="card-body">
          <p class="card-text"><%= post.text %></p>
        </div>
        <div class="card-footer text-body-secondary justify-content-between align-items-center text-end">
          <span class="text-muted"><%#= post.post_user</span> %>
          <span class="text-muted">| <%= l post.created_at, format: :short %></span> <%# 投稿日時を表示（RailsのI18n機能を利用）%>
        </div>
        <% end %>
    </div>
  <% end %>
<% end %>
