
<h1>投稿一覧w</h1>


  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%#= post.user.name %></h5>
      <p class="card-text"><%= @post.text %></p>
      <p class="card-text"><small class="text-muted"><%= time_ago_in_words(@post.created_at) %>前</small></p>
    </div>
  </div>


